.services{
    position: relative;
    z-index: 1;
    background-color: white;
    min-height: 100vh;
    padding: 20px 0;
}
.services .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
}
.services::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.282);
    z-index: -1;
    backdrop-filter: blur(2px);
}
#bluecar{
    z-index: -2;
    position: absolute;
    width: 70%;
}
.services .textground{
}
.services .heading{
    color: #12273D;
}
.servicesText{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 36px;
}
.servicesText .Box{
    text-align: center;
    color: #12273D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    align-self: stretch;
    background: #ffffff94;
    padding: 20px;
    width: 32%;
    border-radius: 10px;
    flex-wrap: wrap;
}
.icon{
    height: 50px;
}
h3{

}

.services .headingContainer{
    text-align: center;
}


@media (max-width:992px){
    .servicesText .Box{
        width: 45%;
    }
}
@media (max-width:768px){
    .servicesText{
        flex-wrap: wrap;
    }
}
@media (max-width:570px){
    .servicesText .Box{
        width: 100%;
    }
}